@model SWP.Dto.ChangePassWordModel

<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <div class="mb-4">
                                <h5>Đổi mật khẩu</h5>
                            </div>
                            @if (TempData["MESS_NOTE_SUCCESS"] != null)
                            {
                                <div id="alertMessage" class="alert alert-success" role="alert">
                                    @TempData["MESS_NOTE_SUCCESS"]
                                </div>

                                <script>
                                    setTimeout(function () {
                                        $('#alertMessage').fadeOut('slow');
                                    }, 5000);
                                </script>
                            }
                            @if (TempData["MESS_NOTE_ERROR"] != null)
                            {
                                <div id="alertMessage" class="alert alert-danger" role="alert">
                                    @TempData["MESS_NOTE_ERROR"]
                                </div>

                                <script>
                                    setTimeout(function () {
                                        $('#alertMessage').fadeOut('slow');
                                    }, 5000);
                                </script>
                            }

                            <form asp-controller="ProfileUsers" asp-action="ChangePassword" method="post">

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cg">Mật khẩu cũ <span class="required-star">*</span></label>
                                    <span id="passwordError" asp-validation-for="Password" class="text-danger"></span>
                                    <input type="password" asp-for="Password" class="form-control form-control-lg" />
                                    
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cg">Mật khẩu mới <span class="required-star">*</span></label>
                                    <span id="passwordError" asp-validation-for="NewPassword" class="text-danger"></span>
                                    <input type="password" asp-for="NewPassword" class="form-control form-control-lg" />
                                    
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cdg">Xác nhận mật khẩu <span class="required-star">*</span></label>
                                    <span id="confirmPasswordError" asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg" />
                                    
                                </div>

                                <div class="mb-3 d-grid">
                                    <button type="submit" class="btn btn-primary">
                                        Xác nhận
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .required-star {
        color: red;
    }
</style>
