@model SWP.Models.Blog

@{
    ViewData["Title"] = "Create";
}


@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}


<div class="container">
    <div class="row justify-content-center">
        <h1>Tạo Blog mới</h1>
    <div class="col-md-10">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Tiêu đề</label>
                <input asp-for="Title" class="form-control" required/>
                <span asp-validation-for="Title" class="text-danger"></span>
               
            </div>
            <div class="form-group">
                <label  class="control-label">Miêu tả ngắn</label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label  class="control-label">Trạng thái</label>
                <select asp-for="Status" class="form-control">
                   
                    <option value="0">Riêng tư</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label" >Ảnh đại diện</label>
                <input id="formFileLg" name="files" asp-for="Image" type="file" class="form-control" multiple />
                <span asp-validation-for="Image" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label class="form-label" >Nội dung</label>
                <textarea class="form-control" asp-for=Description id="editor">

                   </textarea>
                <span asp-validation-for=Description class=text-danger></span>
            </div>
            <div class="form-group" >

                <input type="submit" value="Tạo mới" class="btn btn-success" />
                    <div class="btn-group shadow-0 border">
                        <a asp-controller="Blog" asp-action="Manage" class="btn btn-primary shadow-0 me-1">Trở lại</a>
                    </div>
                
            </div>
        </form>
    </div>
</div>
</div>



<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<style>
    .custom-btn {
        padding: 6px 12px; /* Điều chỉnh padding để làm cho nút nhỏ hơn */
        border: none; /* Loại bỏ viền */
    }
</style>