<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <div class="mb-4">
                                <h5>Nhập mã xác nhận</h5>
                                <p class="mb-2">
                                    Nhập mã xác nhập của bạn vào đây!
                                </p>
                            </div>
                            @{
                                var message = ViewData["errorType"];
                            }
                            <p style="color:red">@message</p>
                            <form asp-controller="Auth" asp-action="ConfirmOtp">

                                <div class="mb-3">
                                    <label for="text" class="form-label">Mã xác nhận</label>
                                    <input type="text" id="otp" class="form-control" name="otp" placeholder="Nhập mã xác nhận"
                                           required="">
                                </div>

                                <div class="mb-3 d-grid">
                                    <button type="submit" class="btn btn-primary">
                                        Xác nhận 
                                    </button>
                                    
                                </div>
                                <span>Bạn muốn đăng nhập? <a href="Index">Đăng nhập</a></span>

                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
