@model SWP.Dto.ResetPasswordModel
<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <div class="mb-4">
                                <h5>Đổi mật khẩu</h5>                             
                            </div>
                            @{
                                var message = ViewData["message"];
                                
                            }
                            
                            <p style="color:green">@message</p>

                            <form asp-controller="Auth" asp-action="ResetPassword">

                                <div class="form-outline mb-4">
                                    <input type="password" asp-for="Password" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example4cg">Mật khẩu mới</label>
                                    <span id="passwordError" asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example4cdg">Xác nhận mật khẩu</label>
                                    <span id="confirmPasswordError" asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="mb-3 d-grid">
                                    <button type="submit" class="btn btn-primary">
                                        Xác nhận
                                    </button>
                                </div>
                                <span>Bạn có muốn đăng nhập không? <a href="Index">Đăng nhập</a></span>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
